<div id="cover-spin" *ngIf="ShowSpinner"></div>
<div class="glass">
  <h1>Questions</h1>
  <button class="btn btn-lg btn-primary" (click)="addQuesBtn()">
    <span class="fa fa-plus"></span> Add Question
  </button>
  <div *ngIf="isQuesVisible"></div>
  <div *ngIf="isQuesAdd">
    <br>
    <input type="text" class="form-control" [(ngModel)]="add_Ques.ques" placeholder="Question">
    <br>
    <select class="form-control" [(ngModel)]="add_Ques.team" placeholder="Team">
        <option *ngFor="let team of teams" [value]="team._id">
          {{team.teamName}}
        </option>
    </select>
    <br>
    <input type="text" class="form-control" [(ngModel)]="add_Ques.keys" placeholder="Keys (Seperate Keys with ',')">
    <br>
    <button class="btn btn-lg btn-primary" (click)="addQues()">
      <span class="fa fa-user-plus"></span> Add
    </button>
  </div>
</div>
<div class="table-responsive glass">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Question</th>
        <th>Team</th>
        <th>Time</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions;index as i">
        <td>{{question.ques}}</td>
        <td>{{question.team.teamName}}</td>
        <td>{{question.atTime | date: 'MM-dd-yyyy HH:mm:ss Z' }}</td>
        <td>
          <button class="btn btn-primary" (click)="ansQuesBtn(i,content)">
            View Answers
          </button>
          <button (click)="makegraph(i,graphs)" class="btn btn-primary">
            View Graphs
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Answers</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>User</th>
            <th>Answer</th>
            <th>Correct</th>
            <th>Answered At</th>
          </tr>
        </thead>
        <tbody *ngFor="let ans of ansOfQues">
          <tr>
            <td>{{ ans.u_id.email }}</td>
            <td>{{ ans.ans }}</td>
            <td>{{ ans.correct }}</td>
            <td>{{ ans.atTime | date: 'MM-dd-yyyy HH:mm:ss Z' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #graphs let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Answers</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <fusioncharts [id]="id" [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
  </div>
</ng-template>