html,
body {
  background: rgba(0, 0, 0, 0);
  height: 100%;
}
html::-webkit-scrollbar {
    display: none;
  }
.draggable-area {
  -webkit-app-region: drag;
}
div {
    position: absolute;
    height: 50px;
    min-width: 100px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    border: 2px solid #666;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;  
    left: 150px;
    top:10px;
    padding: 5px;
}
div:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 20px;
    top: 60px;
    border: 15px solid;
    border-color: #666 transparent transparent #666;
  }
div:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 22px;
    top: 60px;
    border: 11px solid;
    border-color: #fff transparent transparent #fff;
}  
