<div class="glass">
  <div>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th align="center">User_ID</th>
            <th>E-Mail</th>
            <th>Team</th>
            <th>IsAdmin</th>
            <th >Options</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users;index as i">
          <tr>
            <td>{{ user._id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.team }}</td>
            <td>{{ user.isAdmin }}</td>
            <td>
              <button (click)="ansUser(i)" class="btn btn-primary">
                View Answers
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>