<div id="cover-spin" *ngIf="ShowSpinner"></div>
<div class="glass">
  <div>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>E-Mail</th>
            <th>Team</th>
            <th>IsAdmin</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users;index as i">
          <tr>
            <td>{{ user.email }}</td>
            <td><div  *ngFor="let t of user.team">{{ t.teamName }}&nbsp;</div></td>
            <td>{{ user.isAdmin }}</td>
            <td>
              <button (click)="ansUsers(i,content)" class="btn btn-primary">
                View Answers
              </button>
              <button (click)="makegraph(i,graphs)" class="btn btn-primary">
                View Graphs
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Answers By User</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Correct</th>
            <th>Answered At</th>
          </tr>
        </thead>
        <tbody *ngFor="let ans of ansOfUser">
          <tr>
            <td>{{ ans.q_id.ques }}</td>
            <td>{{ ans.ans }}</td>
            <td>{{ ans.correct }}</td>
            <td>{{ ans.atTime | date: 'MM-dd-yyyy HH:mm:ss Z' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #graphs let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Answers</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <fusioncharts [id]="id" [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
  </div>
</ng-template>