<div class="glass">
  <div>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Team</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody *ngFor="let team of teams;index as i">
          <tr>
            <td><div>{{ team.teamName }}</div></td>
            <td>
              <button (click)="viewUsers(i,content)" class="btn btn-primary">
                View Members
              </button>
              <button (click)="makegraph(i,graphs)" class="btn btn-primary">
                View Graphs
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Members</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>E-Mail</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody *ngFor="let member of users">
          <tr>
            <td>{{ member.email }}</td>
            <td><button (click)="removeUser(i)" class="btn btn-primary">
              Remove
            </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #graphs let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Members</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <fusioncharts [id]="id" [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat" [dataSource]="dataSource"></fusioncharts>
  </div>
</ng-template>