<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Send Response</title>
    <link rel="stylesheet" type="text/css" href="../styles/answer.css" />
</head>

<body>
    <div class="container">
    <h1 align="center">Your Reply</h1>
    <h3></h3>
    <input type="text" name="answer" id="answer" class="form-control" placeholder="Type your response here">
    <br>
    <button id="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;<button id="cancel" class="btn btn-primary">Cancel</button>
    <script src='../scripts/answer.js'></script>
    </div>
</body>

</html>