<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../styles/index.css" />
</head>

<body>
  <br>
  <br>
  <img src="giphy.gif" alt="img cant be loaded" class="draggable-area">
  <div class="msg-bubble" id="msg-bubble" hidden>
    <div id="msg"></div><br>
    <div id="options" hidden class="text-center">
      <button id="ans" class="btn btn-primary">Answer</button>
      <button id="snz" class="btn btn-primary">Snooze</button>
    </div>
  </div>
  <script src="https://learning-genie777.herokuapp.com/socket.io/socket.io.js"></script>
  <script src='../scripts/service.js'></script>
</body>

</html>