
<div class="container">
  <form class="form-signin glass" #f="ngForm">
    <h2 class="form-signin-heading">Please sign in</h2>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="loginSubmit(f)" *ngIf="isLoginVisible">
      <span class="fa fa-sign-in"></span> Log In</button>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="continue(f)" *ngIf="isContinueVisible">
      <span class="fa fa-sign-in"></span> Continue</button>
      <br />
      <br/>
    <button class="btn btn-lg btn-primary" type="submit" onclick="window.open('https://cygrp-my.sharepoint.com/:u:/p/ankit_chawla/EdCbWs3AOdtOgVbLewBgA1IB3WD2pyRjRxw5d-7HIP__QA')">
      <span class="fa fa-download"></span> Download Win <span class="fa fa-windows"></span></button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-lg btn-primary" type="submit" onclick="window.open('https://cygrp-my.sharepoint.com/:u:/p/ankit_chawla/Eap0K_R5qgFAoHbLkL-M8-8Bxc3ejVZFauCriJ3s_1VGrQ')">
      <span class="fa fa-download"></span> Download Mac <span class="fa fa-apple"></span></button>
  </form>
</div>